*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

.Video {
	background-color: linear-gradient(rgba(121,63,25,2),rgba(229,167,125,2));
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
	.Video{
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9){
	.Video{
		width: auto;
		height: 100%;
	}
}